---
// so fresh so clean
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<nav class="flex justify-center">
			<a href="/"><h2 class="px-8 py-10">PotesDev</h2></a>
			<a href="#projects"><h2 class="px-8 py-10">Projects</h2></a>
			<a href="#challenges"><h2 class="px-8 py-10">Challenges</h2></a>
			<a href="#contact"><h2 class="px-8 py-10">Contact</h2></a>
		</nav>
		<div class="flex justify-center">
			<h1 class="px-8 ">About</h1>
			<p>	
				I don't know how to introduce myself exactly, but I'm making an effort to put in a paragraph the complexities of my life and the challenges I want to overcome, I'm disciplined, goal-oriented, and a little ambitious, and I want to make a difference in my life and the world, from bots and scripts to a massive  perspective change of things, I'm the perfect acolyte of the phrase "Practice makes the master"
			</p>
		</div>
		<h1 class="flex px-8 py-4 justify-center justify-items-center" id="projects">Projects</h1>
		<div class="flex px-8 py-3 grid grid-cols-4 gap-2">
			<div class="max-w-sm rounded overflow-hidden shadow-lg">
				<img class="w-full" src="/src/img/card-dao.png" alt="Dashboard">
				<div class="px-6 py-4">
				  <div class="font-bold text-xl mb-2"><a href="https://github.com/ArachnePotes/Ready-Player-Dao.git">Ready Player Dao</a></div>
				  <p class="text-gray-700 text-base">
					This was a summer project for Indexing.Co , a Desentralized Dashboard that leet the user see almost in real time the state of selected crypto currencies.  
				  </p>
				</div>
				<div class="px-6 pt-4 pb-2">
				  <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">#BlockChain</span>
				  <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">#JS</span>
				  <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">#SQL</span>
				  <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">#React</span>
				  <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">#Dashboard</span>
				</div>
			</div>
			<div class="max-w-sm rounded overflow-hidden shadow-lg">
				<img class="w-full" src="/src/img/card-compiler.png" alt="compiler">
				<div class="px-6 py-4">
				  <div class="font-bold text-xl mb-2"><a href="https://github.com/ArachnePotes/AssamblyToBin">Assambler to bin</a></div>
				  <p class="text-gray-700 text-base">
					This was part of many college proyects i have at my github , im just proud of it.   
				  </p>
				</div>
				<div class="px-6 pt-4 pb-2">
				  <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">#Assambler</span>
				  <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">#Interpreter</span>
				  <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">#Compiler</span>
				  <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">#Python</span>
				</div>
			</div>

			<div class="max-w-sm rounded overflow-hidden shadow-lg">
				<img class="w-full" src="/src/img/card-web.png" alt="compiler">
				<div class="px-6 py-4">
				  <div class="font-bold text-xl mb-2"><a href="https://github.com/ArachnePotes/Django">Django App</a></div>
				  <p class="text-gray-700 text-base">
					This project its one of many experiences i have with Dajngo , in this case its a self containded blog , moderators and super admin can update their page with a secuence of clicks , no more dev requiered.   
				  </p>
				</div>
				<div class="px-6 pt-4 pb-2">
				  <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">#Django</span>
				  <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">#Blog</span>
				  <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">#Python</span>
				</div>
			</div>

			<div class="max-w-sm rounded overflow-hidden shadow-lg">
				<img class="w-full" src="/src/img/card-text.png" alt="compiler">
				<div class="px-6 py-4">
				  <div class="font-bold text-xl mb-2"><a href="https://github.com/ArachnePotes/notipy">Notipy</a></div>
				  <p class="text-gray-700 text-base">
					This project its a self contained markdown editor as a Desktop app, like <a href="https://stackedit.io/">stackedit</a> but with open ia api for text generation   
				  </p>
				</div>
				<div class="px-6 pt-4 pb-2">
				  <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">#Python</span>
				  <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">#TextEditor</span>
				  <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">#OpenIA</span>
				</div>
			</div>
		</div>
		<h1 class="flex justify-center py-6" id="challenges">Challenges</h1>
		<div class="px-8 py-6 padding-4">
			
			<ul>
				<li>
					<a href="https://github.com/ArachnePotes/training">Python Everyday</a>
					<div class="w-full h-6 bg-gray-200 rounded-full dark:bg-gray-700">
						<div class="h-6 bg-blue-600 text-xs font-medium text-blue-100 text-center p-0.5 leading-none rounded-full dark:bg-blue-500" style="width: 89%">89%</div>
					  </div>
				</li>
				<li>
					<a href="https://colab.research.google.com/drive/1Bldv69eC0VQESEOsrfQJPiuCmGqbKlm3?usp=sharing">Python everyday ColabNotebook</a>
					<div class="w-full h-6 bg-gray-200 rounded-full dark:bg-gray-700">
						<div class="h-6 bg-blue-600 text-xs font-medium text-blue-100 text-center p-0.5 leading-none rounded-full dark:bg-blue-500" style="width: 45%">45%</div>
					  </div>
				</li>
				<li>
					<a href="https://github.com/ArachnePotes/AssitantPy">Python all in one Desktop Assitant</a>
					<div class="w-full h-6 bg-gray-200 rounded-full dark:bg-gray-700">
						<div class="h-6 bg-blue-600 text-xs font-medium text-blue-100 text-center p-0.5 leading-none rounded-full dark:bg-blue-500" style="width: 20%">20%</div>
					  </div>
				</li>
			</ul>
		</div>
		<h1 class="flex py-6 justify-center" id="contact">Contact me</h1>
		<div class="flex justify-center bg-zinc-400" >
			<form action="https://formsubmit.co/potesdev@gmail.com" method="post">
				<div class="firstRow">
					<div class="fullNameArea">
						<p class="cardHead">name</p>
						<input class="fullname" type="text" name="name">
					</div>

					<div class="emailArea">
						<p class="cardHead">EmailAdress</p>
						<input class="email" type="email" name="email">
					</div>
				</div> 

				<div class="messageArea">
					<p class="cardHead">Message</p>
					<textarea class="message" cols="90" rows="10" name="message"></textarea>
				</div>

				<button type="submit">Send</button>
			</form>
		</div>
		<footer class="flex py-6 justify-center">
			<p class="px-6">follow me on</p>
			<a class="px-6  hover:bg-blue-500 text-blue-700 hover:text-white" href="https://www.instagram.com/s.potes21/">Instragram</a>
			<a class="px-6  hover:bg-blue-500 text-blue-700 hover:text-white" href="https://www.linkedin.com/in/santiago-potes-giraldo-868736234/">LinkedIn</a>
			<a class="px-6  hover:bg-blue-500 text-blue-700 hover:text-white" href="https://github.com/SPotes22">github</a>
		</footer>
	</body>
</html>
